<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#128275" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap"
      rel="stylesheet"
    />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-M7L2KEG5Z7"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-M7L2KEG5Z7");
    </script>
    <title>But what is QR Code?</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static',filename='sample-images/favicon.ico') }}"
    />
    <meta
      name="description"
      content="Generate colour, image, social media, artistic, customizable QR code easily with one click. Best QR code generator"
    />
  </head>
  <body>
    <div class="heading">
      <center>
        <h1>Easy QR Generator</h1>
        <h2>Generate and scan QR with one click</h2>
      </center>
      <!-- <div class="right-div">
            <a class="about" href="{{ url_for('blog') }}">About QR</a>&emsp;&emsp;
            <a class="home" href='/'>Home</a>
        </div> -->
    </div>
    <div class="main_content">
      <h1>But what is QR Code?</h1>
      <br />
      <p>
        QR codes, short for Quick Response codes, were first introduced by the
        Japanese barcode developer company Denso Wave in 1994. This technology
        allows for the transformation of digital information into a
        two-dimensional matrix-like shape with black square entries on a white
        background. The possibilities for storing information in a QR code are
        endless, making it a versatile tool for any situation where digital
        contractual information processing is required, including product
        tracking, item identification, time tracking, location tracking,
        document management, general marketing, and more.
      </p>
      <p>
        There are two main types of QR codes: static and dynamic. Static QR
        codes store information that does not change over time, such as phone
        numbers, SMS, and email addresses. Dynamic QR codes, on the other hand,
        store dynamic information such as location tracking, product shipping
        status, and more. When someone scans a static QR code, their device will
        understand the information stored in the code. With dynamic QR codes,
        the information can be updated as needed.
      </p>
      <p>
        QR codes are an easy and effective way to store complex information.
        They can be used in a variety of situations and offer a simple and
        efficient way to transmit information. Whether you're tracking products,
        managing documents, or engaging in marketing campaigns, QR codes are a
        valuable tool for any business.
      </p>

      <br />
    </div>
    <div class="footer">
      <h3 class="found">Found bug ?</h3>
      <p class="contact">Contact us</p>
      <a
        href="mailto:mlbrothers2024@gmail.com"
        class="twitter-dm-button"
        data-screen-name="@furni"
        >Mail us</a
      >
    </div>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='css/index.css') }}"
    />
  </body>
</html>
